In [3]:
import pandas as pd
import numpy as np
import pickle


%matplotlib inline
#settings
pd.set_option('display.max_colwidth', -1)
np.set_printoptions(threshold=np.inf)
pd.options.display.max_columns = None
pd.options.display.max_rows = None
from IPython.core.interactiveshell import InteractiveShell  
InteractiveShell.ast_node_interactivity = "all"
# init_notebook_mode(connected=True)
%config InlineBackend.figure_format = 'svg'
%matplotlib inline 
seed = 123

In [5]:
with open('../data/processed/df_for_model_2.pkl', 'rb') as read_file:
    df_for_model_2 = pickle.load(read_file)   
with open('../data/processed/df_for_model_3.pkl', 'rb') as read_file:
    df_for_model_3 = pickle.load(read_file)   
# with open('../data/processed/master_df.pkl', 'rb') as read_file:
#     master_df = pickle.load(read_file)

In [51]:
master_df.head(1)

,age,age_group,"age_group_[10, 30)","age_group_[30, 40)","age_group_[40, 50)","age_group_[50, 60)","age_group_[60, 96)",balance,balance_category,"balance_category_[-8019, 0)","balance_category_[0, 500)","balance_category_[3000, 102128)","balance_category_[500, 3000)",campaign,cluster_predicted,contact,contact_label_encoded,contact_label_encoded_0,contact_label_encoded_1,contact_label_encoded_2,current_engagement_category,"current_engagement_category_[1, 6)","current_engagement_category_[10, 64)","current_engagement_category_[6, 10)",day,default,default_label_encoded,default_label_encoded_0,default_label_encoded_1,duration,duration_category,"duration_category_[0, 60)","duration_category_[180, 300)","duration_category_[300, 4919)","duration_category_[60, 180)",education,education_label_encoded,education_label_encoded_0,education_label_encoded_1,education_label_encoded_2,education_label_encoded_3,housing,housing_label_encoded,housing_label_encoded_0,housing_label_encoded_1,ID,is_second_half_of_month,is_second_half_of_month_0,is_second_half_of_month_1,job,job_label_encoded,job_label_encoded_0,job_label_encoded_1,job_label_encoded_10,job_label_encoded_11,job_label_encoded_2,job_label_encoded_3,job_label_encoded_4,job_label_encoded_5,job_label_encoded_6,job_label_encoded_7,job_label_encoded_8,job_label_encoded_9,level_0,loan,loan_label_encoded,loan_label_encoded_0,loan_label_encoded_1,marital,marital_label_encoded,marital_label_encoded_0,marital_label_encoded_1,marital_label_encoded_2,month,month_label_encoded,month_label_encoded_1,month_label_encoded_10,month_label_encoded_11,month_label_encoded_12,month_label_encoded_2,month_label_encoded_3,month_label_encoded_4,month_label_encoded_5,month_label_encoded_6,month_label_encoded_7,month_label_encoded_8,month_label_encoded_9,new_customers,new_customers_0,new_customers_1,pdays,pdays_category,"pdays_category_[-1, 0)","pdays_category_[0, 180)","pdays_category_[180, 872)",poutcome,poutcome_label_encoded,poutcome_label_encoded_0,poutcome_label_encoded_1,poutcome_label_encoded_2,poutcome_label_encoded_3,prev_engagement_category,"prev_engagement_category_[0, 1)","prev_engagement_category_[1, 6)","prev_engagement_category_[10, 276)","prev_engagement_category_[6, 10)",previous,total_duration,total_duration_category,"total_duration_category_[0, 180)","total_duration_category_[180, 600)","total_duration_category_[600, 60171)",y,y_label_encoded,age_group_label_encoded,balance_category_label_encoded,current_engagement_category_label_encoded,duration_category_label_encoded,pdays_category_label_encoded,prev_engagement_category_label_encoded,total_duration_category_label_encoded,day_1,day_2,day_3,day_4,day_5,day_6,day_7,day_8,day_9,day_10,day_11,day_12,day_13,day_14,day_15,day_16,day_17,day_18,day_19,day_20,day_21,day_22,day_23,day_24,day_25,day_26,day_27,day_28,day_29,day_30,day_31
0,39,"[30, 40)",0,1,0,0,0,816,"[500, 3000)",0,0,0,1,3,2,cellular,0,1,0,0,"[1, 6)",1,0,0,27,no,0,1,0,37,"[0, 60)",1,0,0,0,tertiary,2,0,0,1,0,yes,1,0,1,23354,1,0,1,management,4,0,0,0,0,0,0,1,0,0,0,0,0,0.0,no,0,1,0,single,2,0,0,1,aug,8,0,0,0,0,0,0,0,0,0,0,1,0,1,0,1,-1,"[-1, 0)",1,0,0,unknown,3,0,0,0,1,"[0, 1)",1,0,0,0,0,111,"[0, 180)",1,0,0,no,0,1,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0

In [35]:
df_for_model_2.columns.tolist()[:21]

['ID',
 'cluster_predicted',
 'age_group',
 'balance_category',
 'contact_label_encoded',
 'current_engagement_bins',
 'default_label_encoded',
 'duration_bins',
 'education_label_encoded',
 'housing_label_encoded',
 'job_label_encoded',
 'marital_label_encoded',
 'loan_label_encoded',
 'month_label_encoded',
 'poutcome_label_encoded',
 'pdays_half_yearly_bins',
 'prev_engagement_category',
 'is_second_half_of_month',
 'day',
 'new_customers',
 'y_label_encoded']

In [6]:
# non_ohe_variables = master_df.select_dtypes(include = ['category', 'int64'] ).columns.tolist()
# non_ohe_variables.remove("ID")
# # non_ohe_variables_df = master_df[non_ohe_variables]
# non_cat_features = ['age', 'balance', 'campaign', 'duration', 'day', 'cluster_predicted', 'previous', 'pdays', 'total_duration']

iv_features = df_for_model_2.columns.tolist()[:21]
iv_features.remove('ID')
len(iv_features)
iv_df = df_for_model_2[iv_features]

20

In [7]:
def calculate_woe_iv(dataset, feature, target):
    iv_list = []
    for i in range(dataset[feature].nunique()):
        val = list(dataset[feature].unique())[i]
        iv_list.append({
            'Value': val,
            'All': dataset[dataset[feature] == val].count()[feature],
            'No': dataset[(dataset[feature] == val) & (dataset[target] == 0)].count()[feature],
            'Yes': dataset[(dataset[feature] == val) & (dataset[target] == 1)].count()[feature]
        })
        
    dset = pd.DataFrame(iv_list)
    dset['Distr_Yes'] = dset['Yes'] / dset['Yes'].sum()
    dset['Distr_No'] = dset['No'] / dset['No'].sum()
    dset['WoE'] = np.log(dset['Distr_Yes'] / dset['Distr_No'])
    dset = dset.replace({'WoE': {np.inf: 0, -np.inf: 0}})
    dset['IV'] = (dset['Distr_Yes'] - dset['Distr_No']) * dset['WoE']
    iv = dset['IV'].sum()
    
    dset = dset.sort_values(by='WoE')
    
    return dset, iv

In [8]:
iv_values = []
for col in iv_df.columns:
    if col == 'y_label_encoded': continue
    else:
        print('WoE and IV for column: {}'.format(col))
        df, iv = calculate_woe_iv(iv_df, col, 'y_label_encoded')
        iv_values.append(iv.round(2))
        print(df)
        print('IV score: {:.2f}'.format(iv))
        print('\n')

WoE and IV for column: cluster_predicted
   Value    All     No   Yes  Distr_Yes  Distr_No       WoE        IV
4  1      10803  10293  510   0.096427   0.257828 -0.983510  0.158740
3  3      5356   4852   504   0.095292   0.121537 -0.243272  0.006385
1  0      12544  10999  1545  0.292116   0.275512  0.058518  0.000972
0  2      8931   7806   1125  0.212706   0.195531  0.084189  0.001446
2  4      7577   5972   1605  0.303460   0.149592  0.707340  0.108837
IV score: 0.28


WoE and IV for column: age_group
      Value    All     No   Yes  Distr_Yes  Distr_No       WoE        IV
1  [40, 50)  11655  10592  1063  0.200983   0.265317 -0.277706  0.017866
3  [50, 60)  8410   7625   785   0.148421   0.190997 -0.252206  0.010738
0  [30, 40)  18089  16176  1913  0.361694   0.405190 -0.113558  0.004939
2  [10, 30)  5273   4345   928   0.175458   0.108837  0.477549  0.031815
4  [60, 96)  1784   1184   600   0.113443   0.029658  1.341574  0.112404
IV score: 0.18


WoE and IV for column: balance_category
            Value    All     No   Yes  Distr_Yes  Distr_No       WoE        IV
2  [-8019, 0)      3766   3556   210   0.039705   0.089074 -0.807986  0.039889
1  [0, 500)        19871  17899  1972  0.372849   0.448349 -0.184398  0.013922
0  [500, 3000)     15959  13769  2190  0.414067   0.344898  0.182780  0.012643
3  [3000, 102128)  5615   4698   917   0.173379   0.117679  0.387514  0.021584
IV score: 0.09


WoE and IV for column: contact_label_encoded
   Value    All     No   Yes  Distr_Yes  Distr_No       WoE        IV
2  2      13020  12490  530   0.100208   0.312860 -1.138508  0.242106
1  1      2906   2516   390   0.073738   0.063023  0.157019  0.001682
0  0      29285  24916  4369  0.826054   0.624117  0.280322  0.056607
IV score: 0.30


WoE and IV for column: current_engagement_bins
      Value    All     No   Yes  Distr_Yes  Distr_No       WoE        IV
1  [11, 64)  1196   1149   47    0.008886   0.028781 -1.175201  0.023380
3  [6, 11)   3159   2953   206   0.038949   0.073969 -0.641402  0.022462
0  [2, 6)    23312  20837  2475  0.467952   0.521943 -0.109191  0.005895
2  [1, 2)    17544  14983  2561  0.484213   0.375307  0.254780  0.027747
IV score: 0.08


WoE and IV for column: default_label_encoded
   Value    All     No   Yes  Distr_Yes  Distr_No       WoE        IV
1  1      815    763    52    0.009832   0.019112 -0.664716  0.006169
0  0      44396  39159  5237  0.990168   0.980888  0.009417  0.000087
IV score: 0.01


WoE and IV for column: duration_bins
         Value    All     No   Yes  Distr_Yes  Distr_No       WoE        IV
0  [0, 60)      4659   4650   9     0.001702   0.116477 -4.226100  0.485053
1  [60, 120)    9249   9054   195   0.036869   0.226792 -1.816664  0.345027
3  [120, 300)   18974  17356  1618  0.305918   0.434748 -0.351449  0.045277
2  [300, 600)   8527   6897   1630  0.308187   0.172762  0.578792  0.078383
4  [600, 900)   2382   1386   996   0.188315   0.034718  1.690868  0.259713
5  [900, 4919)  1420   579    841   0.159009   0.014503  2.394588  0.346032
IV score: 1.56


WoE and IV for column: education_label_encoded
   Value    All     No   Yes  Distr_Yes  Distr_No       WoE        IV
2  0      6851   6260   591   0.111741   0.156806 -0.338821  0.015269
1  1      23202  20752  2450  0.463226   0.519814 -0.115256  0.006522
3  3      1857   1605   252   0.047646   0.040203  0.169848  0.001264
0  2      13301  11305  1996  0.377387   0.283177  0.287198  0.027057
IV score: 0.05


WoE and IV for column: housing_label_encoded
   Value    All     No   Yes  Distr_Yes  Distr_No       WoE        IV
0  1      25130  23195  1935  0.365854   0.581008 -0.462531  0.099516
1  0      20081  16727  3354  0.634146   0.418992  0.414428  0.089166
IV score: 0.19


WoE and IV for column: job_label_encoded
    Value   All    No   Yes  Distr_Yes  Distr_No       WoE            IV
2   1      9732  9024  708   0.133863   0.226041 -0.523901  4.829213e-02
8   2      1487  1364  123   0.023256   0.034167 -0.384694  4.197325e-03
6   3      1240  1131  109   0.020609   0.028330 -0.318211  2.457047e-03
1   7      4154  3785  369   0.069767   0.094810 -0.306706  7.680670e-03
4   9      7597  6757  840   0.158820   0.169255 -0.063634  6.640119e-04
11  11     288   254   34    0.006428   0.006362  0.010325  6.817311e-07
9   6      1579  1392  187   0.035356   0.034868  0.013910  6.793814e-06
3   0      5171  4540  631   0.119304   0.113722  0.047922  2.675222e-04
0   4      9458  8157  1301  0.245982   0.204323  0.185555  7.730002e-03
10  10     1303  1101  202   0.038192   0.027579  0.325592  3.455734e-03
7   5      2264  1748  516   0.097561   0.043785  0.801178  4.308380e-02
5   8      938   669   269   0.050860   0.016758  1.110226  3.786158e-02
IV score: 0.16


WoE and IV for column: marital_label_encoded
   Value    All     No   Yes  Distr_Yes  Distr_No       WoE        IV
1  1      27214  24459  2755  0.520892   0.612670 -0.162282  0.014894
2  0      5207   4585   622   0.117603   0.114849  0.023693  0.000065
0  2      12790  10878  1912  0.361505   0.272481  0.282706  0.025168
IV score: 0.04


WoE and IV for column: loan_label_encoded
   Value    All     No   Yes  Distr_Yes  Distr_No       WoE        IV
1  1      7244   6760   484   0.091511   0.16933  -0.615395  0.047890
0  0      37967  33162  4805  0.908489   0.83067   0.089551  0.006969
IV score: 0.05


WoE and IV for column: month_label_encoded
    Value    All     No  Yes  Distr_Yes  Distr_No       WoE        IV
2   5      13766  12841  925  0.174891   0.321652 -0.609306  0.089422
1   7      6895   6268   627  0.118548   0.157006 -0.280968  0.010806
8   1      1403   1261   142  0.026848   0.031587 -0.162535  0.000770
3   11     3970   3567   403  0.076196   0.089349 -0.159245  0.002095
5   6      5341   4795   546  0.103233   0.120109 -0.151412  0.002555
0   8      6247   5559   688  0.130081   0.139247 -0.068086  0.000624
4   2      2649   2208   441  0.083381   0.055308  0.410501  0.011524
6   4      2932   2355   577  0.109094   0.058990  0.614845  0.030806
7   10     738    415    323  0.061070   0.010395  1.770672  0.089729
9   9      579    310    269  0.050860   0.007765  1.879437  0.080995
11  12     214    114    100  0.018907   0.002856  1.890270  0.030342
10  3      477    229    248  0.046890   0.005736  2.101005  0.086464
IV score: 0.44


WoE and IV for column: poutcome_label_encoded
   Value    All     No   Yes  Distr_Yes  Distr_No       WoE        IV
0  3      36959  33573  3386  0.640197   0.840965 -0.272775  0.054764
1  0      4901   4283   618   0.116846   0.107284  0.085378  0.000816
2  1      1840   1533   307   0.058045   0.038400  0.413164  0.008117
3  2      1511   533    978   0.184912   0.013351  2.628287  0.450912
IV score: 0.51


WoE and IV for column: pdays_half_yearly_bins
        Value    All     No   Yes  Distr_Yes  Distr_No       WoE        IV
0  [-1, 0)     36954  33570  3384  0.639818   0.840890 -0.273276  0.054948
2  [180, 872)  5104   4113   991   0.187370   0.103026  0.598105  0.050447
1  [0, 180)    3153   2239   914   0.172811   0.056084  1.125344  0.131358
IV score: 0.24


WoE and IV for column: prev_engagement_category
       Value    All     No   Yes  Distr_Yes  Distr_No       WoE        IV
0  [0, 1)     36954  33570  3384  0.639818   0.840890 -0.273276  0.054948
2  [10, 276)  361    281    80    0.015126   0.007039  0.764970  0.006186
1  [1, 6)     7193   5568   1625  0.307241   0.139472  0.789770  0.132499
3  [6, 10)    703    503    200   0.037814   0.012600  1.099026  0.027712
IV score: 0.22


WoE and IV for column: is_second_half_of_month
   Value    All     No   Yes  Distr_Yes  Distr_No       WoE        IV
0  1      23268  20827  2441  0.461524   0.521692 -0.122544  0.007373
1  0      21943  19095  2848  0.538476   0.478308  0.118489  0.007129
IV score: 0.01


WoE and IV for column: day
    Value   All    No  Yes  Distr_Yes  Distr_No       WoE        IV
5   19     1757  1635  122  0.023067   0.040955 -0.574079  0.010269
3   20     2752  2560  192  0.036302   0.064125 -0.568969  0.015831
1   31     643   597   46   0.008697   0.014954 -0.541977  0.003391
11  29     1745  1616  129  0.024390   0.040479 -0.506598  0.008151
28  28     1830  1687  143  0.027037   0.042257 -0.446564  0.006797
24  7      1817  1660  157  0.029684   0.041581 -0.337029  0.004010
7   17     1939  1763  176  0.033277   0.044161 -0.282990  0.003080
22  6      1932  1751  181  0.034222   0.043861 -0.248147  0.002392
2   18     2308  2080  228  0.043108   0.052102 -0.189479  0.001704
13  21     2026  1825  201  0.038003   0.045714 -0.184732  0.001424
8   8      1842  1641  201  0.038003   0.041105 -0.078458  0.000243
21  26     1035  919   116  0.021932   0.023020 -0.048398  0.000053
26  5      1910  1695  215  0.040650   0.042458 -0.043502  0.000079
20  14     1848  1638  210  0.039705   0.041030 -0.032825  0.000043
14  9      1561  1382  179  0.033844   0.034618 -0.022603  0.000017
12  11     1479  1298  181  0.034222   0.032513  0.051215  0.000088
0   27     1121  971   150  0.028361   0.024322  0.153607  0.000620
17  23     939   813   126  0.023823   0.020365  0.156849  0.000542
15  16     1415  1223  192  0.036302   0.030635  0.169732  0.000962
18  24     447   385   62   0.011722   0.009644  0.195189  0.000406
27  15     1703  1465  238  0.044999   0.036697  0.203959  0.001693
25  2      1293  1111  182  0.034411   0.027829  0.212289  0.001397
19  13     1585  1344  241  0.045566   0.033666  0.302690  0.003602
10  12     1603  1359  244  0.046133   0.034041  0.303962  0.003676
9   25     840   707   133  0.025147   0.017710  0.350617  0.002608
16  4      1445  1215  230  0.043486   0.030434  0.356878  0.004658
6   3      1079  901   178  0.033655   0.022569  0.399577  0.004430
4   22     905   751   154  0.029117   0.018812  0.436845  0.004502
23  30     1566  1295  271  0.051238   0.032438  0.457151  0.008595
29  10     524   403   121  0.022878   0.010095  0.818152  0.010458
30  1      322   232   90   0.017016   0.005811  1.074371  0.012038
IV score: 0.12


WoE and IV for column: new_customers
   Value    All     No   Yes  Distr_Yes  Distr_No       WoE        IV
0  1      36954  33570  3384  0.639818   0.84089  -0.273276  0.054948
1  0      8257   6352   1905  0.360182   0.15911   0.817011  0.164277
IV score: 0.22

In [9]:
list_of_iv_values = sorted(list(zip(iv_features, iv_values)),key=lambda x: x[1], reverse = True)
iv_features_df = pd.DataFrame(list_of_iv_values, columns =['Feature', 'IV_value']) 
iv_features_df
iv_features_df.to_csv('../data/processed/iv_features_df.csv')

                     Feature  IV_value
0   duration_bins             1.56
1   poutcome_label_encoded    0.51
2   month_label_encoded       0.44
3   contact_label_encoded     0.30
4   cluster_predicted         0.28
5   pdays_half_yearly_bins    0.24
6   prev_engagement_category  0.22
7   new_customers             0.22
8   housing_label_encoded     0.19
9   age_group                 0.18
10  job_label_encoded         0.16
11  day                       0.12
12  balance_category          0.09
13  current_engagement_bins   0.08
14  education_label_encoded   0.05
15  loan_label_encoded        0.05
16  marital_label_encoded     0.04
17  default_label_encoded     0.01
18  is_second_half_of_month   0.01

In [3]:
df_for_model_2.head(2)

,ID,cluster_predicted,age_group,balance_category,contact_label_encoded,current_engagement_bins,default_label_encoded,duration_bins,education_label_encoded,housing_label_encoded,job_label_encoded,marital_label_encoded,loan_label_encoded,month_label_encoded,poutcome_label_encoded,pdays_half_yearly_bins,prev_engagement_category,is_second_half_of_month,day,new_customers,y_label_encoded,cluster_predicted_0,cluster_predicted_1,cluster_predicted_2,cluster_predicted_3,cluster_predicted_4,"age_group_[10, 30)","age_group_[30, 40)","age_group_[40, 50)","age_group_[50, 60)","age_group_[60, 96)","balance_category_[-8019, 0)","balance_category_[0, 500)","balance_category_[500, 3000)","balance_category_[3000, 102128)",contact_label_encoded_0,contact_label_encoded_1,contact_label_encoded_2,"current_engagement_bins_[1, 2)","current_engagement_bins_[2, 6)","current_engagement_bins_[6, 11)","current_engagement_bins_[11, 64)",default_label_encoded_0,default_label_encoded_1,"duration_bins_[0, 60)","duration_bins_[60, 120)","duration_bins_[120, 300)","duration_bins_[300, 600)","duration_bins_[600, 900)","duration_bins_[900, 4919)",education_label_encoded_0,education_label_encoded_1,education_label_encoded_2,education_label_encoded_3,housing_label_encoded_0,housing_label_encoded_1,job_label_encoded_0,job_label_encoded_1,job_label_encoded_2,job_label_encoded_3,job_label_encoded_4,job_label_encoded_5,job_label_encoded_6,job_label_encoded_7,job_label_encoded_8,job_label_encoded_9,job_label_encoded_10,job_label_encoded_11,marital_label_encoded_0,marital_label_encoded_1,marital_label_encoded_2,loan_label_encoded_0,loan_label_encoded_1,month_label_encoded_1,month_label_encoded_2,month_label_encoded_3,month_label_encoded_4,month_label_encoded_5,month_label_encoded_6,month_label_encoded_7,month_label_encoded_8,month_label_encoded_9,month_label_encoded_10,month_label_encoded_11,month_label_encoded_12,poutcome_label_encoded_0,poutcome_label_encoded_1,poutcome_label_encoded_2,poutcome_label_encoded_3,"pdays_half_yearly_bins_[-1, 0)","pdays_half_yearly_bins_[0, 180)","pdays_half_yearly_bins_[180, 872)","prev_engagement_category_[0, 1)","prev_engagement_category_[1, 6)","prev_engagement_category_[6, 10)","prev_engagement_category_[10, 276)",is_second_half_of_month_0,is_second_half_of_month_1,day_1,day_2,day_3,day_4,day_5,day_6,day_7,day_8,day_9,day_10,day_11,day_12,day_13,day_14,day_15,day_16,day_17,day_18,day_19,day_20,day_21,day_22,day_23,day_24,day_25,day_26,day_27,day_28,day_29,day_30,day_31,new_customers_0,new_customers_1,age_group_label_encoded,balance_category_label_encoded,current_engagement_bins_label_encoded,duration_bins_label_encoded,pdays_half_yearly_bins_label_encoded,prev_engagement_category_label_encoded
0,23354,2,"[30, 40)","[500, 3000)",0,"[2, 6)",0,"[0, 60)",2,1,4,2,0,8,3,"[-1, 0)","[0, 1)",1,27,1,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,1,3,2,0,0,0
1,18555,0,"[40, 50)","[0, 500)",0,"[11, 64)",0,"[60, 120)",1,1,7,1,0,7,3,"[-1, 0)","[0, 1)",1,31,1,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0,1,1,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,2,1,1,3,0,0

In [11]:
#Removed default_label_encoded, is_second_half_of_month   
# df_variables_1 = df_for_model_2[['ID','age_group_label_encoded', 'balance_category_label_encoded', 'cluster_predicted', 'contact_label_encoded', 'current_engagement_bins_label_encoded',
#                'day', 'duration_bins_label_encoded', 'education_label_encoded', 'housing_label_encoded', 'job_label_encoded', 'loan_label_encoded', 'marital_label_encoded', 'month_label_encoded',
#                'new_customers', 'pdays_half_yearly_bins_label_encoded', 'poutcome_label_encoded', 'prev_engagement_category_label_encoded', 'y_label_encoded']] 
train_val_df, test_set_df = train_test_split(df_for_model_2, test_size=0.2,random_state=seed)

In [14]:
# ('new_customers')['balance_category']
train_val_df.pivot_table(index = 'new_customers', columns = ['balance_category', 'y_label_encoded'], values = 'ID', aggfunc = len)

balance_category [-8019, 0)      [0, 500)       [500, 3000)        \
y_label_encoded           0    1        0     1           0     1
new_customers
0                 380        31   2058     556   2016        683
1                 2516       142  12187    1041  8989        1103

balance_category [3000, 102128)
y_label_encoded               0    1
new_customers
0                 683            279
1                 3075           429

In [17]:
new_customers_by_duration_and_target = train_val_df.pivot_table(index = 'new_customers', columns = ['duration_bins', 'y_label_encoded'], values = 'ID', aggfunc = len,margins=True)
new_customers_by_duration_and_target_percen = (new_customers_by_duration_and_target.div(new_customers_by_duration_and_target.iloc[:,-1], axis=0 )*100).round(2)
new_customers_by_duration_and_target_percen

duration_bins   [0, 60)       [60, 120)       [120, 300)        [300, 600)  \
y_label_encoded       0     1         0     1          0      1          0
new_customers
0                8.62    0.01  17.72     0.90  34.19      10.08  13.04
1                10.68   0.02  20.50     0.31  39.09      2.20   15.89
All              10.30   0.02  19.99     0.41  38.19      3.66   15.36

duration_bins         [600, 900)       [900, 4919)          All
y_label_encoded     1          0     1           0     1
new_customers
0                7.69  2.23       2.92  1.03        1.57  100.0
1                2.68  3.30       2.06  1.33        1.95  100.0
All              3.60  3.10       2.22  1.28        1.88  100.0

## 2.Post k-means clustering IV

In [58]:
set(df_for_model_3.columns.tolist()[:21]).difference(set(iv_features_1))
len(df_for_model_3.columns.tolist()[:21])
iv_features_1 = ['age_group',
 'balance_category',
 'contact_label_encoded',
 'current_engagement_bins',
 'default_label_encoded',
 'duration_bins',
 'education_label_encoded',
 'housing_label_encoded',
 'is_second_half_of_month',
 'day',             
 'job_label_encoded',
 'loan_label_encoded',
 'marital_label_encoded',
 'month_label_encoded',
 'new_customers',
 'poutcome_label_encoded',
 'prev_engagement_category',
 'pdays_half_yearly_bins',
'cluster_predicted',
'k_means_centroid',
 'y_label_encoded']
len(iv_features_1)

{'ID'}

21

21

In [59]:
iv_features_1 = ['age_group',
 'balance_category',
 'contact_label_encoded',
 'current_engagement_bins',
 'default_label_encoded',
 'duration_bins',
 'education_label_encoded',
 'housing_label_encoded',
 'is_second_half_of_month',
 'day',             
 'job_label_encoded',
 'loan_label_encoded',
 'marital_label_encoded',
 'month_label_encoded',
 'new_customers',
 'poutcome_label_encoded',
 'prev_engagement_category',
 'pdays_half_yearly_bins',
'cluster_predicted',
'k_means_centroid',
 'y_label_encoded']

iv_df_1 = df_for_model_3[iv_features_1]
iv_df_1.head(1)
iv_df_1.shape

,age_group,balance_category,contact_label_encoded,current_engagement_bins,default_label_encoded,duration_bins,education_label_encoded,housing_label_encoded,is_second_half_of_month,day,job_label_encoded,loan_label_encoded,marital_label_encoded,month_label_encoded,new_customers,poutcome_label_encoded,prev_engagement_category,pdays_half_yearly_bins,cluster_predicted,k_means_centroid,y_label_encoded
23354,"[10, 30)","[-8019, 0)",0,"[2, 6)",0,"[120, 300)",1,0,1,23,1,1,2,7,1,3,"[0, 1)","[-1, 0)",3,3,0

(45211, 21)

In [60]:
iv_values_1 = []
for col in iv_df_1.columns:
    if col == 'y_label_encoded': continue
    else:
#         print('WoE and IV for column: {}'.format(col))
        df, iv = calculate_woe_iv(iv_df_1, col, 'y_label_encoded')
        iv_values_1.append(iv.round(2))
#         print(df)
#         print('IV score: {:.2f}'.format(iv))
#         print('\n')

In [61]:
list_of_iv_values_1 = sorted(list(zip(iv_features_1, iv_values_1)),key=lambda x: x[1], reverse = True)
iv_features_df_1 = pd.DataFrame(list_of_iv_values_1, columns =['Feature', 'IV_value']) 
iv_features_df_1

                     Feature  IV_value
0   duration_bins             1.56
1   poutcome_label_encoded    0.51
2   month_label_encoded       0.44
3   contact_label_encoded     0.30
4   cluster_predicted         0.28
5   pdays_half_yearly_bins    0.24
6   new_customers             0.22
7   prev_engagement_category  0.22
8   housing_label_encoded     0.19
9   age_group                 0.18
10  job_label_encoded         0.16
11  day                       0.12
12  balance_category          0.09
13  current_engagement_bins   0.08
14  education_label_encoded   0.05
15  loan_label_encoded        0.05
16  marital_label_encoded     0.04
17  default_label_encoded     0.01
18  is_second_half_of_month   0.01
19  k_means_centroid          0.00

<font color='navy'> centroids from k-means clustering didn't predict subscription behaviour well. </font>

In [62]:
top_10_features = [feature[0] for feature in list_of_iv_values_1[:10]]
top_10_features

['duration_bins',
 'poutcome_label_encoded',
 'month_label_encoded',
 'contact_label_encoded',
 'cluster_predicted',
 'pdays_half_yearly_bins',
 'new_customers',
 'prev_engagement_category',
 'housing_label_encoded',
 'age_group']

In [44]:
list_of_features = ['marital_label_encoded', 'loan_label_encoded', 'education_label_encoded', 'current_engagement_bins', 'balance_category', 'pdays_half_yearly_bins']
for feature in list_of_features:
    feature_by_target = df_for_model_3.pivot_table(index = [feature], columns = 'y_label_encoded', values = 'ID', aggfunc = len,margins=True)
    feature_by_target_percen = feature_by_target.div(feature_by_target.iloc[:,-1], axis=0 )*100
    feature_by_target_percen

y_label_encoded                0          1    All
marital_label_encoded
0                      88.054542  11.945458  100.0
1                      89.876534  10.123466  100.0
2                      85.050821  14.949179  100.0
All                    88.301520  11.698480  100.0

y_label_encoded             0          1    All
loan_label_encoded
0                   87.344273  12.655727  100.0
1                   93.318609  6.681391   100.0
All                 88.301520  11.698480  100.0

y_label_encoded                  0          1    All
education_label_encoded
0                        91.373522  8.626478   100.0
1                        89.440565  10.559435  100.0
2                        84.993610  15.006390  100.0
3                        86.429725  13.570275  100.0
All                      88.301520  11.698480  100.0

y_label_encoded                  0          1    All
current_engagement_bins
[1, 2)                   85.402417  14.597583  100.0
[2, 6)                   89.383150  10.616850  100.0
[6, 11)                  93.478949  6.521051   100.0
[11, 64)                 96.070234  3.929766   100.0
All                      88.301520  11.698480  100.0

y_label_encoded           0          1    All
balance_category
[-8019, 0)        94.423792  5.576208   100.0
[0, 500)          90.075990  9.924010   100.0
[500, 3000)       86.277336  13.722664  100.0
[3000, 102128)    83.668744  16.331256  100.0
All               88.301520  11.698480  100.0

y_label_encoded                 0          1    All
pdays_half_yearly_bins
[-1, 0)                 90.842669  9.157331   100.0
[0, 180)                71.011735  28.988265  100.0
[180, 872)              80.583856  19.416144  100.0
All                     88.301520  11.698480  100.0

<font color='navy'>    1. There seems to be a little variation among marital status and target. remove this feature and re-model  </font>

In [63]:
train_val_df.pivot_table(index = 'current_engagement_bins', columns = 'y_label_encoded', values = 'ID', aggfunc = len)

y_label_encoded              0     1
current_engagement_bins
[1, 2)                   11941  2097
[2, 6)                   16706  1963
[6, 11)                  2348   166
[11, 64)                 909    38